<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/detail.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
  <link rel="icon" href="/img/pngwing.com.ico">
  <script src="https://kit.fontawesome.com/8de7c42270.js" crossorigin="anonymous"></script>
  <title>La Letra Dorada</title>
</head>

<body>

    <%- include('../partials/header.ejs') %>

      <main>
        <section class="detail-container">
          <section class="book-detail-container">

            <div class="book-img">
              <img src="<%= book.img %>"  alt="">
            </div>

            <div class="book-detail">
              <h2><%= book.name +" - "+ book.author %> </h2>
              <div class="incon-container"> 
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="description-container">
                <p><%= book.description %>
                </p>
                <a href="#">Seguir leyendo...</a>
              </div>
  
              <div class="buttons-price-container">
                <div class="button-item">
                  <button>
                    <%= "$" + book.tapaDura %>
                  </button>
                  <p>tapa dura</p>
                </div>
  
                <div class="button-item">
                  <button>
                    <%= "$" + book.tapaBlanda %>
                  </button>
                  <p>tapa blanda</p>
                </div>
  
                <div class="button-item">
                  <button>
                    <%= "$" + book.epub %>
                  </button>
                  <p>e-pub</p>
                </div>
  
                <div class="button-item">
                  <button>
                    <%= "$" + book.pdf %>
                  </button>
                  <p>pdf</p>
                </div>
                <div class="button-item-cart">
                  <a href="/products/cart/<%=book.id%>">
                    <button class="button-cart">Agregar<i class="fa-solid fa-cart-shopping"></i></button>
                  </a>
                </div>
              </div>
            </div>

            <div class="button-container">
              <div class="options">
                <form action="/products/delete/<%= book.id %>?_method=DELETE" method="POST">
                  <button type="submit" class="remove-button">
                    <img src="/img/detail/remove.png" alt="">
                  </button>
                </form>
              </div>
              <div class="options">
                  <a href="/products/edit/<%=book.id%>">
                    <img src="/img/detail/pencil.png" alt=""> 
                  </a>
              </div>
            </div>
            
          </section>

          <div class="byography-container">
            <h2>Biografia</h2>
                <% biografia.forEach((parrafo) => { %>
                  <p><%- parrafo %></p>
                <% }) %> 
              <!-- <% biografia.forEach(parrafo=>{ %>
                <p><% parrafo %></p>  
              <% }) %> -->
              <a href="#">Seguir leyendo...</a>
          </div>

          <section class="interested">
            <div class="interested-title">
              <h3><strong>Los lectores tambien disfrutan </strong></h3>
            </div>
            <div class="books-container">
      
              <a href="#item-3">
                      <i class="fa-solid fa-chevron-left"></i>
              </a>

              <div class="books-container-books">

              <% books.slice(0, 5).forEach(book => { %>
                <article class="book-item">
          <!-- <article class="book-item-<%= book.id %>"> -->
                  <div class="book-info-container">
                    <a href="/detail/<%= book.id %>">              
                      <img src="<%= book.img %>" alt="Libro">
                    </a>
                    <div class="info-title">
                      <p><%= book.name %></p>
                    </div>
                    <div class="info-author">
                      <p><%= book.author %></p>
                    </div>
                    <div class="info-price">
                      <p>$<%= book.tapaDura %></p>
                    </div>
                    <button class="button-add-product">Agregar<i class="fa-solid fa-cart-shopping"></i></button>
                  </div>
                </article>
              <% }) %>

        <!-- 
              <article class="book-02">
                <div class="book-info-container">
                  <img src="/img/productCart/cuentos-de-hadas.png" alt="Libro">
                  <div class="info-title">
                    <p>Cuento de hadas</p>
                  </div>
                  <div class="info-author">
                    <p>Stephen King</p>
                  </div>
                  <div class="info-price">
                    <p>$3100</p>
                  </div>
                  <button class="button-add-product">Agregar<i class="fa-solid fa-cart-shopping"></i></button>
                </div>
              </article>
         -->
              </div>
              <a href="#item-2">
                <i class="fa-solid fa-chevron-right"></i>
              </a>
      
            </div>
          </section>
        </section>
      </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>