<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
  <link rel="icon" href="/img/pngwing.com.ico">
  <title>La Letra Dorada</title>
</head>
<body>

  <%- include('../partials/header.ejs') %>

  <main>
    <!-- Cambiar la propiedad price por tapaDura y modificar el json para que cambie esa propiedad-->
    <section class="carousel-banners-container">

      <div class="banners-container">

        <div class="item-banner-container" id="item-1">
          <div class="banner">
            <img src="/img/banners/1.jpg" alt="biblioteca">
          </div>
          <div class="banner-arrows">
              <a href="#item-3">
                <i class="fa-solid fa-chevron-left"></i>
              </a>
              <a href="#item-2">
                <i class="fa-solid fa-chevron-right"></i>
              </a>
          </div>
        </div>

        <div class="item-banner-container" id="item-2">
          <div class="banner">
            <img src="/img/banners/2.jpg" alt="">
          </div>
          <div class="banner-arrows">
              <a href="#item-1">
                  <i class="fa-solid fa-chevron-left"></i>
              </a>
              <a href="#item-3">
                  <i class="fa-solid fa-chevron-right"></i>
              </a>
          </div>
        </div>

        <div class="item-banner-container" id="item-3">
          <div class="banner">
            <img src="/img/banners/3.jpg" alt="">
          </div>
          <div class="banner-arrows">
              <a href="#item-2">
                  <i class="fa-solid fa-chevron-left"></i>
              </a>
              <a href="#item-1">
                  <i class="fa-solid fa-chevron-right"></i>
              </a>
          </div>
        </div>


      </div> 
      <div class="carrousel-controller">
        <a href="#item-1">•</a>
        <a href="#item-2">•</a>
        <a href="#iteml-3">•</a>
      </div>   
    
    </section>

    <section class="section-container">
      <h3 class="section-title">¡Mas vendidos!</h3>
      <div class="books-container">

        <% books.slice(0, 6).forEach(book => { %>
          <article class="book-item">
            <div class="book-info-container">
              <a href="/products/<%= book.id %>">              
                <img src="<%= book.coverImg %>" alt="Libro">
              </a>
              <div class="info-title">
                <p><%= book.title %></p>
              </div>
              <div class="info-author">
                <p><%= book.authors[0].name %></p>
              </div>
              <div class="info-price">
                <p>$ <%= book.priceHardCover %></p>
              </div>
            </div>
          </article>
        <% }) %>
      </div>
    </section>

    <section class="section-container"> 
      <h3 class="section-title">¡Ofertas!</h3>       
      <div class="books-container">
        <% books.slice(6, 12).forEach(book => { %>
          <article class="book-item">
            <div class="book-info-container">
              <a href="/products/<%= book.id %>">              
                <img src="<%= book.coverImg %>" alt="Libro">
              </a>
              <div class="info-title">
                <p><%= book.title %></p>
              </div>
              <div class="info-author">
                <p><%= book.authors[0].name  %></p>
              </div>
              <div class="info-price">
                <p>$ <%= book.priceHardCover %></p>
              </div>
            </div>
          </article>
        <% }) %>
      </div>
    </section>

    <% if(books.length > 12){%>
      <section class="section-container"> 
        <h3 class="section-title">¡Ultima novedades!</h3>       
        <div class="books-container">
  
          <% books.slice(12).forEach(book => { %>
            <article class="book-item">
              <div class="book-info-container">
                <a href="/products/<%= book.id %>">              
                  <img src="<%= book.coverImg %>" alt="Libro">
                </a>
                <div class="info-title">
                  <p><%= book.title %></p>
                </div>
                <div class="info-author">
                  <p><%= book.authors[0].name  %></p>
                </div>
                <div class="info-price">
                  <p>$ <%= book.priceHardCover %></p>
                </div>
              </div>
            </article>
          <% }) %>
        </div>
      </section>
    <% } %> 
  </main>

  <%- include('../partials/footer.ejs') %>
  
</body>
</html>