<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
  <link rel="icon" href="/img/pngwing.com.ico">
  <title>La Letra Dorada</title>
</head>
<body>
  <header>
    <div class="header-top-container">
      <div class="logo-header" >
        <a href="/">
          <img src="/img/home/La_letra_dorada_200_69_px.svg" alt="">
        </a>
      </div>
      <!-- Barra de búsqueda -->
      <div class="search-bar-header">
        <form action="/">
          <input class="input-search"  type="text" placeholder="Buscar por autor, titulo,ISBN..." > 
        </form>
      </div>

      <div class="links-user-header" >
        <a href="/login">Ingresar</a>
        <a href="/register">Registrarse</a>
        <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        
      </div>

      <div class="hearder-burger-menu">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>

    <nav class="header-bottom-container">
      <div class="item-link-category">      
        <select class="item-select" id="category-select">
          <option value="antologia">Antología</option>
          <option value="arquitectura">Arquitectura y diseño</option>
          <option value="arte">Arte</option>
          <option value="ciencia">Ciencia</option>
          <option value="ciencia_ficcion">Ciencia ficción</option>
          <option value="clasicos">Clásicos</option>
          <option value="cuentos">Cuentos</option>
          <option value="derecho">Derecho</option>
          <option value="economia_negocios">Economía y Negocios</option>
          <option value="fantasia" selected>Fantasía</option>
          <option value="filosofia">Filosofía</option>
          <option value="genero" selected>Género</option>
          <option value="novela_juvenil">Novela Juvenil</option>
          <option value="romance">Romance</option>
          <option value="suspenso">Suspenso</option>
        </select>
      </div>
      <div class="item-link-category">
        <select class="item-select">
          <option value="None">Tematica</option>
          <option value="None">Infantil</option>
          <option value="None">Juvenil</option>
          <option value="None">Moderno</option>
          <option value="None">Autoayuda</option>
        </select>
      </div>
      <div class="item-link-category">
        <p class="item-colection">
          <a href="">Colecciones</a>
        </p>
      </div>
      <div class="item-link-category">
        <p class="item-news">
          <a href="">Novedades</a>
        </p>
      </div>
      <div class="item-link-category">
        <p class="item-most-read">
          <a href="">Más leidos</a>
        </p>
      </div>
    </nav>
  </header>

  <main>
    <section class="carousel-banners-container">

      <div class="banners-container">

        <div class="item-banner-container" id="item-1">
          <div class="banner">
            <img src="/img/home/1.jpg" alt="biblioteca">
          </div>
          <div class="banner-arrows">
              <a href="#item-3">
                <i class="fa-solid fa-chevron-left"></i>
              </a>
              <a href="#item-2">
                <i class="fa-solid fa-chevron-right"></i>
              </a>
          </div>
        </div>

        <div class="item-banner-container" id="item-2">
          <div class="banner">
            <img src="/img/home/2.jpg" alt="">
          </div>
          <div class="banner-arrows">
              <a href="#item-1">
                  <i class="fa-solid fa-chevron-left"></i>
              </a>
              <a href="#item-3">
                  <i class="fa-solid fa-chevron-right"></i>
              </a>
          </div>
        </div>

        <div class="item-banner-container" id="item-3">
          <div class="banner">
            <img src="/img/home/3.jpg" alt="">
          </div>
          <div class="banner-arrows">
              <a href="#item-2">
                  <i class="fa-solid fa-chevron-left"></i>
              </a>
              <a href="#item-1">
                  <i class="fa-solid fa-chevron-right"></i>
              </a>
          </div>
        </div>


      </div> 
      <div class="carrousel-controller">
        <a href="#item-1">•</a>
        <a href="#item-2">•</a>
        <a href="#iteml-3">•</a>
      </div>   
    
    </section>

    <section class="new-books-container">
      <h3 class="new-books-title">Novedades</h3>
      <div class="books-container">

        <% books.slice(0, 6).forEach(book => { %>
          <article class="book-item">
            <div class="book-info-container">
              <a href="/detail/<%= book.id %>">              
                <img src="<%= book.img %>" alt="Libro">
              </a>
              <div class="info-title">
                <p><%= book.name %></p>
              </div>
              <div class="info-author">
                <p><%= book.author %></p>
              </div>
              <div class="info-price">
                <p><%= book.price %></p>
              </div>
            </div>
          </article>
        <% }) %>

        <!-- <article class="book-item">
          <div class="book-info-container">
            <a href="/detail">              
              <img src="/img/home/asimov.png" alt="Libro">
            </a>
            <div class="info-title">
              <p>Trilogía de la Fundación</p>
            </div>
            <div class="info-author">
              <p>Isaac Asimov</p>
            </div>
            <div class="info-price">
              <p>$1989</p>
            </div>
          </div>
        </article>
  
        <article class="book-item">
          <div class="book-info-container">
            <a href="/detail">
              <img src="/img/home/cuentos-de-hadas.png" alt="Libro">
            </a>
            <div class="info-title">
              <p>Cuento de hadas</p>
            </div>
            <div class="info-author">
              <p>Stephen King</p>
            </div>
            <div class="info-price">
              <p>$3100</p>
            </div>
          </div>
        </article>
  
        <article class="book-item">
          <div class="book-info-container">
            <a href="/detail">              
              <img src="/img/home/dorian-gray.png" alt="Libro">
            </a>
            <div class="info-title">
              <p>El retrato de Dorian Gray</p>
            </div>
            <div class="info-author">
              <p>Oscar Wilde</p>
            </div>
            <div class="info-price">
              <p>$6000</p>
            </div>
          </div>
        </article>
  
        <article class="book-item">
          <div class="book-info-container">
            <a href="/detail">              
              <img src="/img/home/dune.png"  alt="Libro">
            </a>
            <div class="info-title">
              <p>Dune</p>
            </div>
            <div class="info-author">
              <p>Frank Herbert</p>
            </div>
            <div class="info-price">
              <p>$3000</p>
            </div>
          </div>
        </article>
  
        <article class="book-item">
          <div class="book-info-container">
            <a href="/detail">              
              <img src="/img/home/edgar-allan-poe.png" alt="Libro">
            </a>
            <div class="info-title">
              <p>La verdad sobre el caso del señor Valderman</p>
            </div>
            <div class="info-author">
              <p>Edgar Allan Poe</p>
            </div>
            <div class="info-price">
              <p>$2000</p>
            </div>
          </div>
        </article>
  
        <article class="book-item" >
          <div class="book-info-container">
            <a href="/detail">              
              <img src="/img/home/el-corazon-delator.png" alt="Libro">
            </a>
            <div class="info-title">
              <p>El corazón delator</p>
            </div>
            <div class="info-author">
              <p>Edgar Allan Poe</p>
            </div>
            <div class="info-price">
              <p>$5000</p>
            </div>
          </div>
        </article> -->
      </div>
    </section>

      <!--Otro hacer nuevamente lo hecho en ultimas novedades -->
    <section class="offer-books-container"> 
      <h3 class="offer-title">Ofertas!</h3>       
      <div class="books-container">

        <% books.slice(6).forEach(book => { %>
          <article class="book-item">
            <div class="book-info-container">
              <a href="/detail/<%= book.id %>">              
                <img src="<%= book.img %>" alt="Libro">
              </a>
              <div class="info-title">
                <p><%= book.name %></p>
              </div>
              <div class="info-author">
                <p><%= book.author %></p>
              </div>
              <div class="info-price">
                <p><%= book.price %></p>
              </div>
            </div>
          </article>
        <% }) %>
        
        <!-- <article class="book-item">
          <div class="book-info-container">
            <a href="/detail">
              <img src="/img/home/el-hobbit.png" alt="Libro">
            </a>
            <div class="info-title"> 
              <p>El Hobbit</p>
            </div>
            <div class="info-author">
              <p>J.R.R. Tolkien</p>
            </div>
            <div class="info-price">
              <p>$7000</p>
            </div>
          </div>
        </article>
  
        <article class="book-item">
          <div class="book-info-container">
            <a href="/detail">
              <img src="/img/home/el-lobo-estepario.png" alt="Libro">
            </a>
            <div class="info-title">
              <p>El lobo estepario</p>
            </div>
            <div class="info-author">
              <p>Hermann Hesse</p>
            </div>
            <div class="info-price">
              <p>$3000</p>
            </div>
          </div>
        </article>
  
        <article class="book-item">
          <div class="book-info-container">
            <a href="/detail">              
              <img src="/img/home/frank-kafka.png" alt="Libro">
            </a>
            <div class="info-title">
              <p>En la colonia penitenciaria</p>
            </div>
            <div class="info-author">
              <p>Franz Kafka</p>
            </div>
            <div class="info-price">
              <p>$3000</p>
            </div>
          </div>
        </article>
  
        <article class="book-item">
          <div class="book-info-container">
            <a href="/detail">              
              <img src="/img/home/sigmund-freud.png" alt="Libro">
            </a>
            <div class="info-title">
              <p>Obras Completa</p>
            </div>
            <div class="info-author">
              <p>Sigmund Freud</p>
            </div>
            <div class="info-price">
              <p>$10000</p>
            </div>
          </div>
        </article>
  
        <article class="book-item">
          <div class="book-info-container">
            <a href="/detail">              
              <img src="/img/home/george-orwell-1984.png" alt="Libro">
            </a>
            <div class="info-title">
              <p>1984</p>
            </div>
            <div class="info-author">
              <p>George Orwell</p>
            </div>
            <div class="info-price">
              <p>$5000</p>
            </div>
          </div>
        </article>
  
        <article class="book-item" >
          <div class="book-info-container">
            <a href="/detail">              
              <img src="/img/home/leon-tolstoi.png" alt="Libro">
            </a>
            <div class="info-title">
              <p>¿Cuánta tierra necesita un hombre?</p>
            </div>
            <div class="info-author">
              <p>León Tolstói</p>
            </div>
            <div class="info-price">
              <p>$3000</p>
            </div>
          </div>
          
        </article> -->
      </div>
    </section>
  </main>

  <footer >
    <section class="nav-footer-container">
      <nav>
        <h4 class="nav-title-item">Contacto</h4>
        <ul class="nav-text-links">
          <li><a href="#">Tel: 0800 565-3232</a></li>
          <li><a href="#">Whatsapp: (+54)11 543-0334 </a></li>
          <li><a href="#">laletradorada@dorada.com</a></li>
          <li><a href="#">laletradoradareclamos@gmail.com</a></li>
        </ul>
      </nav>
    
      <nav>
        <h4 class="nav-title-item">Sobre Nosotros</h4>
        <ul class="nav-text-links">
          <li><a href="#">Quienes somos</a></li>
          <li><a href="#">Nuetras sucursales</a></li>
          <li><a href="#"></a>Trabaja con nosotros</li>
        </ul>
      </nav>
    
      <nav>
        <h4 class="nav-title-item">Información legal</h4>
        <ul class="nav-text-links">
          <li><a href="#">Terminos y condiciones</a></li>
          <li><a href="#">Politica de devoluciones y anulacion</a></li>
          <li><a href="#">Politica de proteccion de datos</a></li>
        </ul>
      </nav>
    
      <nav>
        <h4 class="nav-title-item">Servicios</h4>
        <ul class="nav-text-links">
          <li><a href="#"></a></li>
          <li><a href="#">Venta a Empresas e instituciones</a></li>
          <li><a href="#">Compra Recurrente</a></li>
          <li><a href="#">Libros al por mayor</a></li>
          <li><a href="#">Preventa</a></li>
        </ul>
      </nav>
  
      <div class="social-media-container">
        <h4 class="nav-title-item">Siguenos en </h4>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
      </div>
    </section>

    <div class="container-copyrigth">
      <p class="text-copyrigth">
        ©1997-2023 LaLetraDorada.com®.
      </p>
    </div>

  </footer>
</body>
</html>