<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/productEdit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/design/la-letra-dorada-icon1.png">
    <title>Producto Edicion - La Letra Dorada</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <div class="main-container">
            <h2>Editar producto</h2>
            <form class="forms-container" action="/products/edit/<%= book.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="section">
                    <h3>Información del Producto</h3>
                    <div class="fields">
                        <div class="field-form">
                            <label for="title">Título </label>
                            <div class="input-with-icon">
                                <i class="fa-solid fa-heading"></i>
                                <input type="text" name="title" id="title" placeholder="Titulo del Libro" value="<%= book.title %>">
                            </div>
                            <% if(locals.errors && errors.title){ %>
                                <div class="text-danger">
                                        <%= errors.title.msg %>
                                </div>
                                <% } %>
                                <p class = 'fix-title-null text-danger' style='display: none;'>El titulo esta vacio</p>
                                <p class = 'fix-title-short text-danger'style='display: none;'>El nombre del titulo es demasiado corto</p>
                        </div>
                        <div class="field-form">
                            <label for="author">Autor</label>
                            <div class="input-with-icon">
                                <i class="fa-solid fa-feather"></i>
                                <input type="text" name="author" id="author" placeholder="Autor del Libro"  value="<%= book.authors[0].name %>">
                            </div>
                            <% if(locals.errors && errors.author){ %>
                                <div class="text-danger">
                                        <%= errors.author.msg %>
                                </div>
                                <% } %>
                                <p class = 'fix-author-null text-danger'style='display: none;'>El nombre del autor esta vacio</p>
                                <p class = 'fix-author-short text-danger'style='display: none;' >El nombre del autor es demasiado corto</p>
                        </div>
                        <div class="field-form">
                            <label for="genre">Género </label>
                            <div class="input-with-icon">
                                <i class="fa-regular fa-star"></i>
                                <select name="genre" id="category-select-main">
                                    <% allGenres.forEach(genre => { %>
                                        <option value="<%= genre.id %>" <% if (book.genres[0].id == genre.id) { %><%= 'selected' %><% }; %>><%= genre.name %></option>
                                        <% }); %>
                                </select>
                                <div id="genreError" class="text-danger"></div>
                            </div>
                        </div>
                    
                        <div class="field-form">
                            <label for="coverImg">Portada</label>
                            <div class=" product-edit input-with-icon">
                                <i class="fa-solid fa-book"></i>
                                <input type="file" name="coverImg" id="coverImg" accept=".png, .jpg, .jpeg .webp" value="<%= book.coverImg %>"  >
                            </div>
                            <% if(locals.errors && errors.coverImg){ %>
                                <div class="text-danger">
                                    <%= errors.coverImg.msg %>
                                </div>
                                <% } %>
                                <p class = 'fix-portada text-danger'style='display: none;'>Por favor cargue una imagen</p>
                                <p class = 'fix-portada-large text-danger'style='display: none;'>Comprueba la extensión de tus imágenes. Los formatos aceptados son .gif, .jpeg, .jpg y .png</p>
                        </div>
                        <div class="field-form" id="descripcion">
                            <label for="description">Descripción</label>
                            <div class="input-with-icon">
                                <i class="fa-regular fa-envelope"></i>
                                <textarea name="description" id="description" placeholder="Descripción"><%= book.description %></textarea>
                            </div>
                            <% if(locals.errors && errors.description){ %>
                                <div class="text-danger">
                                    <%= errors.description.msg %>
                                </div>
                                <% } %>
                                <p class = 'fix-description-null text-danger'style='display: none;'>La descripcion esta vacia</p>
                                <p class = 'fix-description-short text-danger'style='display: none;' >La descripcion es demasiada corta</p> 
                        </div>
                    </div>
                </div>

                <div class="section" >
                    <h3>Precios del Producto</h3>
                    <div class="fields">
                        <div class="field-form">
                            <label for="priceHardCover">Tapa Dura</label>
                            <div class="input-with-icon">
                                <i class="fa-solid fa-dollar-sign"></i>
                                <input type="number" name="priceHardCover"id="priceHardCover" placeholder="Precio Tapa Dura " value="<%= book.priceHardCover %>">
                            </div>
                            <% if(locals.errors && errors.priceHardCover){ %>
                                <div class="text-danger">
                                    <%= errors.priceHardCover.msg %>
                                </div>
                                <% } %>
                            <p class = 'fix-priceHardCover-null text-danger'style='display: none;'>El precio no puede estar vacio</p>
                            <p class = 'fix-priceHardCover-short text-danger'style='display: none;' >El Precio debe ser un numero de hasta 2 decimales</p> 
                        </div>
                        <div class="field-form">
                            <label for="priceSoftCover">Tapa Blanda</label>
                            <div class="input-with-icon">
                                <i class="fa-solid fa-dollar-sign"></i>
                                <input type="number" name="priceSoftCover" id="priceSoftCover" placeholder="Precio Tapa Blanda " value="<%= book.priceSoftCover %>">
                            </div>
                            <% if(locals.errors && errors.priceSoftCover){ %>
                                <div class="text-danger">
                                    <%= errors.priceSoftCover.msg %>
                                </div>
                                <% } %>
                            <p class = 'fix-priceSoftCover-short text-danger'style='display: none;'>El Precio debe ser un numero de hasta 2 decimales</p>
                            <p class = 'fix-priceSoftCover-null text-danger'style='display: none;' >El precio no puede estar vacio</p>    
                        </div>
                        <div class="field-form">
                            <label for="priceEpub">Epub</label>
                            <div class="input-with-icon">
                                <i class="fa-solid fa-dollar-sign"></i>
                                <input type="number" name="priceEpub" id="priceEpub" placeholder="Precio Ebook " value="<%= book.priceEpub %>">
                            </div>
                            <% if(locals.errors && errors.priceEpub){ %>
                                <div class="text-danger">
                                    <%= errors.priceEpub.msg %>
                                </div>
                                <% } %>
                            <p class = 'fix-priceEpub-short text-danger'style='display: none;'>El Precio debe ser un numero de hasta 2 decimales</p>
                            <p class = 'fix-priceEpub-null text-danger'style='display: none;' >El precio no puede estar vacio</p>
                        </div>
                        <div class="field-form">
                            <label for="priceAudio">Audio</label>
                            <div class="input-with-icon">
                                <i class="fa-solid fa-dollar-sign"></i>
                                <input type="number" name="priceAudio" id="priceAudio" placeholder="Precio Audio" value="<%= book.priceAudio %>" >
                            </div>
                            <% if(locals.errors && errors.priceAudio){ %>
                                <div class="text-danger">
                                    <%= errors.priceAudio.msg %>
                                </div>
                                <% } %>
                            <p class = 'fix-priceAudio-short text-danger'style='display: none;'>El Precio debe ser un numero de hasta 2 decimales</p>
                            <p class = 'fix-priceAudio-null text-danger'style='display: none;' >El precio no puede estar vacio</p>
                        </div>
                    </div>
                </div> 

                <div class="section">
                    <h3>Información del Autor</h3>
                    <div class="fields">
                        <div class="field-form" id="descripcion">
                            <label for="biography" >Descripción del Autor</label>
                            <div class="input-with-icon">
                                <i class="fa-regular fa-envelope"></i>
                                <textarea name="biography"  id="biography"  placeholder="Descripción"><%= book.authors[0].biography %></textarea>
                            </div>
                            <% if(locals.errors && errors.biography){ %>
                                <div class="text-danger">
                                    <%= errors.biography.msg %>
                                </div>
                                <% } %>
                            <p class = 'fix-biography-null text-danger'style='display: none;'>La biografia esta vacia</p>
                            <p class = 'fix-biography-short text-danger'style='display: none;' >La biografia es demasiada corta</p>
                        </div>
                    </div>
                </div>

                <div class="field-form-button">
                    <button class="form-button-creat" type="submit">
                        Guardar Cambios
                    </button>
                    <button class="form-button-cancel" type="reset">
                        <a href="/products/<%=book.id%>">Cancelar
                        </a>
                    </button>
                    <div class = "fixes" ><ul></ul></div>
                </div>
            </form>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script src="/js/productsValidation.js"></script>
</body>

</html>