<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/create.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/design/la-letra-dorada-icon1.png">
    <title> Crear Producto - La Letra Dorada </title>
</head>
<body>

    <%- include('../partials/header.ejs') %>

    <main>
        <div class="main-create-container">
            <h2>Creación de Producto</h2>
            <form action="/products/create" method="post" enctype="multipart/form-data" class = "form-product-create">

                <section class="book-data">

                    <h3>Información del Libro</h3>

                    <section class="field-form-container">
                        <div class="left">
                            <label for="title"> Título </label>
                            <input type="text" name="title" id="title" class="jjaja" 
                            placeholder="Título"
                            value="<%= (locals.oldData && oldData.title) ? oldData.title : null %>"
                            >
                            <% if(locals.errors && errors.title){ %>
                                <div class="text-danger">
                                        <%= errors.title.msg %>
                                </div>
                                <% } %>
                            <p class = 'fix-title-null text-danger' style='display: none;'>El titulo esta vacio</p>
                            <p class = 'fix-title-short text-danger'style='display: none;'>El nombre del titulo es demasiado corta</p>
                        </div>

                        <div class="right">
                            <label for="author">Autor</label>
                            <input type="text" name="author" id="author" 
                            placeholder="Autor"
                            value="<%= (locals.oldData && oldData.author) ? oldData.author : null %>"
                            >
                            <% if(locals.errors && errors.author){ %>
                                <div class="text-danger">
                                        <%= errors.author.msg %>
                                </div>
                                <% } %>
                            <p class = 'fix-author-null text-danger'style='display: none;'>El nombre del autor esta vacio</p>
                            <p class = 'fix-author-short text-danger'style='display: none;' >El nombre del autor es demasiado corto</p>
                        </div>
                    </section>

                    <section class="field-form-container">
                        <div class="left">
                            <label for="coverImg">Portada</label>
                            <input type="file" name="coverImg" id="coverImg" 
                            placeholder="Elegir Portada"
                            value="<%= (locals.oldData && oldData.coverImg) ? oldData.coverImg : null %>"
                            >
                            <% if(locals.errors && errors.coverImg){ %>
                                <div class="text-danger">
                                        <%= errors.coverImg.msg %>
                                </div>
                                <% } %>
                        </div>

                        <div class="right">

                            <label>Género </label>

                            <select class="category-select-main" id="category-select-main" name="genre">
                                <option value="" <%=(locals.oldData && oldData.genre) ? null :'selected' %>>
                                    Seleccione el género 
                                </option>

                                <% genres.forEach(genre => { %>
                                    <option value="<%= genre.id %>" <%=(locals.oldData && oldData.genre == genre.id ) ? 'selected' : null%>>
                                        <%= genre.name %>
                                    </option>
                                    <% }); %>
                                    
                            </select>
                            <div id="genreError" class="text-danger"></div>
                            <% if(locals.errors && errors.genre){ %>
                                <div class="text-danger">
                                        <%= errors.genre.msg %>
                                </div>
                                <% } %>
                        </div>
                    </section>
            
                </section>

                <section class="textarea-description">

                    <div class="field-form-container">
                        <label for="description">
                            Descripción
                        </label>
                        <textarea name="description" id="description" 
                        cols="100" rows="8" placeholder="Descripción"><%= (locals.oldData && oldData.description) ? oldData.description : null %></textarea>

                        <% if(locals.errors && errors.description){ %>
                            <div class="text-danger">
                                    <%= errors.description.msg %>
                            </div>
                            <% } %>
                        <p class = 'fix-description-null text-danger'style='display: none;'>La descripcion esta vacia</p>
                        <p class = 'fix-description-short text-danger'style='display: none;' >La descripcion es demasiada corto</p> 
                    </div>

                </section>
                <section class="textarea-description">

                    <div class="field-form-container">
                        <label for="biography">
                            Biografía del autor
                        </label>
                        <textarea name="biography" id="biography" 
                        cols="100" rows="12" placeholder="Biografía del autor - al menos dos párrafos"><%= (locals.oldData && oldData.biography) ? oldData.biography : null %></textarea>

                        <% if(locals.errors && errors.biography){ %>
                            <div class="text-danger">
                                    <%= errors.biography.msg %>
                            </div>
                            <% } %>
                        <p class = 'fix-biography-null text-danger'style='display: none;'>La biografia esta vacia</p>
                        <p class = 'fix-biography-short text-danger'style='display: none;' >La descripcion es demasiada corto</p>
                    </div>

                </section>

                <section class="book-cost">

                    <h3> Precios </h3>

                    <section class="field-form-container">
                        <div class="left">
                            <label for="priceHardCover"> 
                                Tapa dura 
                            </label>
                            <input type="number" name="priceHardCover" id="priceHardCover"
                            placeholder="Precio"
                            value="<%= (locals.oldData && oldData.priceHardCover) ? oldData.priceHardCover : null %>"
                            >

                            
                        <% if(locals.errors && errors.priceHardCover){ %>
                            <div class="text-danger">
                                    <%= errors.priceHardCover.msg %>
                            </div>
                            <% } %>
                            <p class = 'fix-priceHardCover-short text-danger'style='display: none;'>El Precio debe ser un numero</p>
                            <p class = 'fix-priceHardCover-null text-danger'style='display: none;' >El precio no puede estar vacio</p>
                        </div>

                        <div class="right">
                            <label for="priceSoftCover"> Tapa blanda </label>
                            <input type="number" name="priceSoftCover" id="priceSoftCover"
                            placeholder="Precio"
                            value="<%= (locals.oldData && oldData.priceSoftCover) ? oldData.priceSoftCover : null %>"
                            >

                            
                        <% if(locals.errors && errors.priceSoftCover){ %>
                            <div class="text-danger">
                                    <%= errors.priceSoftCover.msg %>
                            </div>
                            <% } %>
                            <p class = 'fix-priceSoftCover-short text-danger'style='display: none;'>El Precio debe ser un numero de hasta 2 decimales</p>
                            <p class = 'fix-priceSoftCover-null text-danger'style='display: none;' >El precio no puede estar vacio</p>
                        </div>
                    </section>
                
                    
                    <section class="field-form-container">
                        <div class="left">
                            <label for="priceAudio"> Audio Libro </label>
                            <input type="number" name="priceAudio" id="priceAudio"
                            placeholder="Precio"
                            value="<%= (locals.oldData && oldData.priceAudio) ? oldData.priceAudio : null %>"
                            >

                            
                        <% if(locals.errors && errors.priceAudio){ %>
                            <div class="text-danger">
                                    <%= errors.priceAudio.msg %>
                            </div>
                            <% } %>
                            <p class = 'fix-priceAudio-short text-danger'style='display: none;'>El Precio debe ser un numero de hasta 2 decimales</p>
                            <p class = 'fix-priceAudio-null text-danger'style='display: none;' >El precio no puede estar vacio</p>
                        </div>
                        
                        <div class="right">
                            <label for="priceEpub"> Epub </label>
                            <input type="number" name="priceEpub" id="priceEpub" 
                            placeholder="Precio"
                            value="<%= (locals.oldData && oldData.priceEpub) ? oldData.priceEpub : null %>"
                            >
                            
                        <% if(locals.errors && errors.priceEpub){ %>
                            <div class="text-danger">
                                    <%= errors.priceEpub.msg %>
                            </div>
                            <% } %>
                            <p class = 'fix-priceEpub-short text-danger'style='display: none;'>El Precio debe ser un numero de hasta 2 decimales</p>
                            <p class = 'fix-priceEpub-null text-danger'style='display: none;' >El precio no puede estar vacio</p>
                        </div>
                    </section>
                    
                    <section class="buttons">
                        <button class="reset" type="reset"> Borrar </button>
                        <button class="save" type="submit"> Guardar </button>
                    </section>
                    <div class = "fixes"><ul></ul></div>
                </section>
            </form>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script src="/js/products.js"></script>
</body>
</html>